/.build/
/.classpath
/.project
/.settings
/bin/
/deploy.properties
/build.properties
/runtime.properties
/Vitro/
/data-home/
#Ontologies imported from other repo
#rdf/tbox/filegraph/*ttl
rebuild.sh
deploy.sh
